.home-contact {
    margin-bottom: 100px;
    &__contain {
        direction: rtl;

        h2 {
            font-size: 46px;
            line-height: 50px;
            position: relative;
            color: #1f1841;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 40px;
            line-height: 50px;
            position: relative;
            color: #1f1841;
            margin-bottom: 10px;
        }
        .border {
         
            height: 5px; 
               width: 50%; 
                  margin-bottom: 30px;
                  background: #da24ff;
        }
        p{
            padding-left: 50px;
            margin-bottom: 20px;
        }
        span {
            font-size: 40px;
        }
    }
    &__flex{
        display: flex;
        margin-left: 30px;
        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-left: 20px;
          }
          input[type=number], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-left: 20px;
          }
          input[type=email], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-left: 20px;
          }
          textarea {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-left: 20px;
            
        }
        
    }
   

}