.ask-question {
    margin-bottom: 100px;

    &__contain {
        margin-bottom: 20px;
        &--question{
            text-align: center;
            margin-bottom: 30px;
            input[type="text"] {
                padding: 15px 20px;
                width: 58%;
                border: 2px solid #481db5;
                border-radius: 10px;
                font-size: 15px;
            }
            button {
                padding: 15px 20px;
                background: #da23ff;
                border: 2px solid #da23ff;
                border-radius: 10px;
                font-size: 15px;
                font-weight: 600;
                color: #fff;
                font-family: 'Lato';
            }
            textarea {
                padding: 15px 20px;
                width: 69%;
                border: 2px solid #481db5;
                border-radius: 10px;
                font-size: 15px;
            }
            hr {
                background: #c1c1c1;
                height: 1px;
                border: none;
            }
        }

        h2 {
            color: #da24ff;
            font-size: 20px;
            padding-bottom: 15px;
        }

        p {
            font-size: 16px;
        }
        i{
            font-size: 30px;
        }
    }
}