.contact-information {
    display: flex;

    i {
        color: #fff;
        padding-right: 10px;
        font-size: 13px;
    }

    p {
        color: #fff;
        padding-right: 10px;
        font-size: 13px;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
    }

    &__call {
        display: flex;
        align-items: center;

        padding: 0px 20px;
        border-right: 1px solid #5323ca;

    }

    &__email {
        display: flex;
        align-items: center;

        padding: 0px 20px;
        border-right: 1px solid #5323ca;
    }
}

.social-icon {
    display: flex;

    a {
        width: 50px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        border-right: 1px solid #5323ca;
        display: inline-block;
        position: relative;

        &:hover {
            background: rgba(255, 255, 255, 0.4);
        }

        &:last-child() {
            border-right: 0px;
        }
    }
}

a {
    &.ask__us {
        padding: 15px 40px;
        background: #fff;
        margin-left: 30px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 700;
    }

    &.read-more {
        display: inline-block;
        padding: 15px 30px;
        color: #fff;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 700;
        border: 2px solid #ffffff78;

        &:hover {
            background-color: #ffffff;
            color: #da24ff;
        }

        &__about {
            padding: 15px 40px;
            background: #da24ff;
            border-radius: 10px;
            text-decoration: none;
            font-weight: 700;
            display: inline-block;
            margin-top: 30px;
            color: #fff;
        }

        &--team {

            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 40px;
            color: #da24ff;
            transform: translate(-50%, -50%);
        }
    }
}

h1 {
    font-size: 46px;
    line-height: 50px;
    position: relative;
    text-transform: uppercase;
    color: #1f1841;
}

h2 {
    font-size: 20px;
    line-height: 30px;
    color: #1f1841;
    letter-spacing: px;
    font-family: 'Roboto';
}

p {
    font-size: 18px;
    line-height: 30px;
    color: #686a6f;
    font-family: 'Roboto';
}

.section-title {
    padding: 0px 10px 40px;
    text-align: center;

    h1 {
        margin-bottom: 10px;
    }

    span {
        font-size: 20px;
        color: #851ff9;
        border-bottom: 2px solid #851ff9;
        padding-bottom: 10px;
        display: inline-block;
    }
}

.view-all {
    text-align: center;

    a.read-more__about {

        margin-top: 0px;

    }
}