.header {
    &__contain {
        &--flex {
            justify-content: space-between;
            display: flex;
            align-items: center;
        }
    }
    &--bg{
        background-image: url(../images/header-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
      
    }

    &__inner {
        &--background {
            background: rgba(56, 65, 80, 0.5);
            border-bottom: 1px solid #3d4655;
        }
    }
}